<h1 style="width:100%;text-align:center;">{{ app.company_name }} </h1>
<div style="width:100%; height:10px;"></div>
<div style="width:100%;text-align:center;font-size:14px;">
    (Company Registration Number: {{ app.uen }})
</div>
<div style="width:100%;text-align:center;font-size:14px;">
    (Incorporated the Republic of Singapore)
</div>
<div style="width:100%; height:5px;"></div>
<div style="width:100%;text-align:center;font-size:14px;font-weight:bold;">
    BOARD RESOLUTIONS
</div>

<div style="width:100%; height:5px;"></div>
<div style="width:100%;text-align:left;font-size:14px;">Pursuant to the Constitution of the Company we, being all the directors of<br/>
    <b>{{ app.company_name }} </b> (“the Company”), do hereby certify the following resolutions of the Board of Directors;
</div>

<div style="width:100%; height:5px;"></div>
<div style="width:100%;text-align:left;font-size:14px;font-weight:bold;"><u>CHANGE OF REGISTERED OFFICE ADDRESS</u>
</div>


<div style="width:100%;text-align:left;font-size:14px;font-weight:bold;">
    <p>{{ app.addr_1 }}</p>
    <p>{{ app.addr_2 }}</p>
    <p>{{ app.postal_code }}</p>
</div>

<div style="width:100%;text-align:left;font-size:14px;">Resolved that the Company wants to change it’s registered office address as above immediately,<br/>
    and is hereby approved by the directors of the Company.
</div>


<div style="width:100%; height:5px;"></div>
<div style="width:100%;text-align:left;font-size:14px;">Confirmed</div>

<div style="width:100%; height:5px;"></div>
<div style="width:100%;text-align:left;font-size:14px;">
    <p>_________<span style="color: white; font-size: 0.1px">{{ officer.signature }}</span>_________________ </p>
    <p>{{ officer.full_name }}</p>
    <p>Director </p>
</div>

<div style="width:100%; height:5px;"></div>
<div style="width:100%;text-align:left;font-size:14px;">
Dated :
</div>


</body>
</html>
