<div>
  <div style="line-height: 20px">고객인 <span style="font-family: malgunbd">{{ app.company_name }} {{ app.company_type }}</span> 
    (이하 "의뢰인") 와 컨설팅 회사인 <span style="font-family: malgunbd">LEE KIM ALLIANCE PTE. LTD. (UEN: 200908319R)</span>
    (이하&quot;대행사&quot;) 는 다음과 같이 법인 설립 및 유지 비용에 대한 계약을 체결한다.
  </div>
  <div style="line-height: 24px;">
    <div>1.	설립 비용</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;법인 설립, 은행 계좌 개설 신청 지원, 취업 비자 신청 지원 등의 업무가 진행된 이후에는 해당 서비스<br>&nbsp;&nbsp;&nbsp;&nbsp;비용의 환불이 불가하다.</div>
    <div>2.	유지 비용</div>
    <div style="line-height: 24px;">&nbsp;&nbsp;&nbsp;
      A.	&nbsp;&nbsp;대행사는 의뢰인에게 현지이사, 서기, 주소 대행 등의 서비스 제공하는 동안 연단위로 이용료를<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;청구한다.</div>
    <div style="line-height: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      1)&nbsp;&nbsp;&nbsp;현지이사 대행 : SGD 2,400/년 (SGD 200/월, 보증금 납부시 SGD 2,000/년)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      2)&nbsp;&nbsp;&nbsp;서기 대행     : SGD 720/년 (SGD 60/월)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      3)&nbsp;&nbsp;&nbsp;주소 대행     : SGD 360/년 (SGD 30/월)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      4)&nbsp;&nbsp;&nbsp;정기주주총회 및 연차 보고 (AGM&AR) : SGD 120/년 – 년 1회 진행</div>
    <div style="line-height: 24px;">&nbsp;&nbsp;&nbsp;
      ※&nbsp;&nbsp;&nbsp;GST (부가세) 별도 청구: 요율은 싱가포르 정부 정책에 따름 (2023년: 8%, 2024년 부터: 9%)<br>&nbsp;&nbsp;&nbsp;
      ※&nbsp;&nbsp;&nbsp;서비스 비용은 변동될 수 있으며 이 경우 대행사는 의뢰인에 최소 2주전에 공지해야 함.<br>&nbsp;&nbsp;&nbsp;
      ※&nbsp;&nbsp;&nbsp;월, 분기, 반기 단위 정산시 표준 가격의 10% 의 추가 비용이 청구됨.
    </div>
    <div style="line-height: 24px;">&nbsp;&nbsp;&nbsp;
      B.  &nbsp;&nbsp;의뢰인이 서비스 중단을 원할 경우 하기에 기술한 각 서비스별 요건을 모두 충족하여야 한다.
    </div>
    <div style="line-height: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      1)&nbsp;&nbsp;&nbsp;현지이사 대행 서비스 중단시 필요 조건
    </div>
    <div style="line-height: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ①&nbsp;&nbsp;&nbsp;이메일 또는 서면으로 서비스 중단 통지<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ②&nbsp;&nbsp;&nbsp;현지이사 대행 서비스에 대한 미결제 금액이 없어야 함<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ③&nbsp;&nbsp;&nbsp;기존 현지이사를 대체할 신규 현지이사의 싱가포르 신분증 스캔본, 싱가포르 거주지 증빙<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      (발급 3개월 이내) 스캔본 , 이메일 주소, 전화번호 전달&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div></div><br>
    <div style="line-height: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ※&nbsp;&nbsp;&nbsp;ACRA 규정 현지이사의 자격<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -&nbsp;&nbsp;&nbsp;18세 이상으로 법률 행위를 할 수 있는자<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -&nbsp;&nbsp;&nbsp;싱가포르 시민권자, 싱가포르 영주권자, 동법인으로부터 고용비자 (Entrepass, <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Employment pass)를
      취득한 자<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -&nbsp;&nbsp;&nbsp;최근 5년 이내 싱가포르 대법원에 의해 이사 자격 상실 판결을 받지 않은 자<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -&nbsp;&nbsp;&nbsp;최근 5년 이내 싱가포르 또는 다른 국가에서 부정직한 행위나 사기 행위로 3개 월 이상 징역형에<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;해당하는 유죄 판결을 받지 않은 자</div>
    <div style="line-height: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ※&nbsp;&nbsp;&nbsp;현지이사 포함, 법인의 이사는 매년 IRAS 에 회계 보고, ACRA 에 AGM 및 AR 보고를 해야하는<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      법적 의무와 책임이 있다. 이를 어길시 ACRA 로부터 벌금이 부과되며, 5년 이내 3회 이상 위반시<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      이사 자격이 박탈되고 기소 될 수 있다.</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      2)&nbsp;&nbsp;&nbsp;서기 대행 서비스 중단시 필요 조건
    </div>
    <div style="line-height: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ①&nbsp;&nbsp;&nbsp;이메일 또는 서면으로 서비스 중단 통지<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ②&nbsp;&nbsp;&nbsp;이용중인 당사의 모든 서비스에 대한 미결제 금액이 없어야 함
    </div>
    <div style="line-height: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ※&nbsp;&nbsp;&nbsp;ACRA 규정 서기의 자격 및 요건<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -&nbsp;&nbsp;&nbsp;법인은 설립일로부터 6개월 이내 최소 1인의 서기를 선임하여야 한다<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -&nbsp;&nbsp;&nbsp;서기는 싱가포르에 거주지가 있는 자연인 이어야 한다.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -&nbsp;&nbsp;&nbsp;법인은 기존 서기 사임시 6개월 이내 새로운 서기를 선임하여야 한다.
    </div>
    <div style="line-height: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      3)&nbsp;&nbsp;&nbsp;주소 대행 서비스 중단시 필요 조건
    </div>
    <div style="line-height: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ①&nbsp;&nbsp;&nbsp;이메일 또는 서면으로 서비스 중단 통지<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ②&nbsp;&nbsp;&nbsp;주소 대행 서비스에 대한 미결제 금액이 없어야 함<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ③&nbsp;&nbsp;&nbsp;변경할 싱가포르 내 주소지 전달
    </div>
    <div style="line-height: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ※&nbsp;&nbsp;&nbsp;ACRA 규정 법인 등록 주소지 요건<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -&nbsp;&nbsp;&nbsp;법인에 대한 통신 및 통지가 가능한 장소<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -&nbsp;&nbsp;&nbsp;통상의 근무 (영업) 시간 중 일반인들의 접근이 가능한 장소<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -&nbsp;&nbsp;&nbsp;법인 관련 서류 및 기록이 보관되는 장소
    </div>
    <div style="line-height: 25px;">&nbsp;&nbsp;&nbsp;
      C.&nbsp;&nbsp;&nbsp;위 요건이 모두 충족되지 않을 경우 의뢰인의 서비스 중단은 불가능하며, 비용은 서비스가 중단될<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;때까지 청구된다.
    </div>
    <div style="line-height: 25px;">&nbsp;&nbsp;&nbsp;
      D.&nbsp;&nbsp;&nbsp;서비스 중단 이후의 기결제된 잔여 서비스 기간에 대해서는 대행사가 환불 조치한다.
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;※&nbsp;&nbsp;현지이사 대행 서비스는 보증금 납부와 상관없이 월사용분으로 계산되어 환불 조치한다.
    </div>
    <div style="line-height: 25px; text-align: center">{{ "now"|date('Y') }}년 {{ "now"|date('m') }}월 {{ "now"|date('d') }}일</div>
  </div>
</div>
<h4 style="font-family: malgunbd">{{ app.company_name }} {{ app.company_type }}</h4>
<table border="0" cellpadding=0 cellspacing=0 width="98%" align="left">
  <tr><td colspan="3" style="height:20px;"></td></tr>
  {% for officer in app.officers_directors %}
    {% if loop.index % 2 == 1 %}
      <tr nobr="true">
      <td style="width:40%; text-align:left;font-size:12px;">
        <div>
        <span style="color: white; font-size: 1px">_____________________________________________________________________{{ officer.signature }}</span>
          <hr><b style="font-family: malgunbd">{{ officer.full_name }}</b> <br/>
        {{officer.designation}}
        <br/><br/>
        <br/><br/>
        </div>
      </td>
      <td width="140"></td>
    {% else %}
      <td style="width:40%; text-align:left;font-size:12px;">
        <div>
        <span style="color: white; font-size: 1px">_____________________________________________________________________{{ officer.signature }}</span>
        <hr><b style="font-family: malgunbd">{{ officer.full_name }}</b> <br/>
        {{ officer.designation }}
        <br/><br/>
        <br/><br/>
        </div>
      </td>
      </tr>
    {% endif %}
    {% if loop.index % 2 == 1 and loop.index == loop.length %}
      <td>
        &nbsp;
      </td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
<table border="0" cellpadding=0 cellspacing=0 width="98%" align="left">
  <tr nobr="true">
    <td style="width:40%; text-align:left;font-size:12px;">
      <div>
        <h4 style="font-family: malgunbd">LEE KIM ALLIANCE PTE. LTD.</h4>
        <img src="/static/signature/LEE_YOUNGSANG_KEN.jpg" width="150px">
        <hr><span style="font-family: malgunbd">LEE YOUNGSANG KEN</span> <br/>
        Director
        <br/><br/>
      </div>
    </td>
    <td width="140"></td>
  </tr>
</table>
