<html>
<body>
	<h1 style="width:100%;text-align:center;">{{app.company_name}} </h1>
	<div style="width:100%;text-align:center;font-size:14px;">
    (Incorporated in the Republic of Singapore)<br/>
    (Company Registration Number: {{ app.uen }})<br/>
                           (the “Company”)
	</div>

	<hr>
	<div style="width:100%; height:5px;"></div>
	<div style="width:100%;text-align:center;font-size:14px;font-weight:bold;">
    DIRECTORS’ RESOLUTIONS<br/>
    PASSED PURSUANT TO<br/>
    THE CONSTITUTION OF THE COMPANY
  </div>

	<hr>
	<div style="width:100%; height:5px;"></div>

	<div style="width:100%; height:5px;"></div>

  <div style="width:100%;text-align:left;font-size:14px;"><strong>CHANGE IN REGISTERED OFFICE ADDRESS</strong></div>
  <br>
	<div style="width:100%;text-align:left;font-size:14px;"><b>RESOLVED THAT</b> the change in the registered office address of the Company be and is hereby
    approved. The new address set out below shall be adopted immediately.
	</div>

	<div style="width:80%;text-align:left;font-size:14px;padding-left:100px;">
    <table>
      <tr>
        <td width="10%"></td>
        <td width="80%">
        <p style="margin-left: 40px; margin-right: 0px"><b>{{ app.addr_1 }}</b>  <br/><b>{{ app.addr_2 }}</b>  <br/><b>{{ app.postal_code }}</b><br/>
        </p>
        </td>
        <td></td>
      </tr>
    </table>
	</div>

  <div style="width:100%;text-align:left;font-size:14px;">
    <div style="width:100%;text-align:left;font-size:14px;"><b>Dated :</b><br/><br/></div>
  </div>
  <div style="width:100%; height:5px;"></div>
  <table border="0" cellpadding=0 cellspacing=0 width="90%" align="center">
    <tr><td colspan="3" style="height:20px;"></td></tr>
    {% for director in app.officers_directors %}
      {% if loop.index % 2 == 1 %}
        <tr>
        <td style="width:40%; text-align:left;font-size:14px;">
          <span style="color: white; font-size: 1px">_____________________________________________________________________
          ___________________________________________{{ director.signature }}</span>
          <hr><b>{{ director.full_name }}</b> <br/>
          <b>{{ director.designation|upper }}</b>
          <br/><br/>
          <br/><br/>
        </td>
        <td width="140"></td>
      {% else %}
        <td style="width:40%; text-align:left;font-size:14px;">
          <span style="color: white; font-size: 1px">_____________________________________________________________________
          ___________________________________________{{ director.signature }}</span>
          <hr><b>{{ director.full_name }}</b> <br/>
          <b>{{ director.designation|upper }}</b>
          <br/><br/>
          <br/><br/>
        </td>
        </tr>
      {% endif %}
      {% if loop.index % 2 == 1 and loop.index == loop.length %}
        <td>
          &nbsp;
        </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>

</body></html>
