<style>

    .tl { height:30px; line-height:30px; padding-left: 20px; }

</style>

<div style="width:100%; height:30px;"></div>
<h1 style="width:100%;text-align:center;">APPLICATION FOR SHARES</h1>
<div style="width:100%; height:10px;"></div>
<div style="width:100%;text-align:center;font-size:14px;"></div>
<div style="width:100%; height:30px;"></div>
<div style="width:100%; height:30px;"></div>

<table border="0" width="100%">
    <tr>
        <td class="tl" width="20%" height="25">To :          </td>
        <td class="tl" width="80%" height="25">The Directors </td>
    </tr>
    <tr>
        <td class="tl" width="20%" height="25"> &nbsp;        </td>
        <td class="tl" width="80%" height="25" style="font-size:14px;"><b>{{ app.company_name }}</b> </td>
    </tr>
    <tr>
        <td class="tl" width="20%" height="25"> &nbsp;        </td>
        <td class="tl" width="80%" height="25">{{ app.uen }}</td>
    </tr>
    <tr>
        <td class="tl" width="20%" height="20"> &nbsp;        </td>
        <td class="tl" width="80%" height="20">{{ app.addr_1 }} </td>
    </tr>
    <tr>
        <td class="tl" width="20%" height="20"> &nbsp;        </td>
        <td class="tl" width="80%" height="20">{{ app.addr_2 }} {{ app.postcode }} </td>
    </tr>
</table>
<br/>
<br/>
<b>Gentlemen,</b>
<br/>
<br/>
<br/>
<br/>
<br/>

<table border="0" width="100%">
    <tr style="border-top: solid 1px #000000;">
        <td height="40" align="left" style="padding:10px; font-size:15px; text-align: justify; ">
            <!-- {% set nominal_total_amount = datas.officer.field_shareholder_shares_allotte * datas.capital_detail.field_each_share_price  %} -->
            &nbsp;&nbsp; I / (We) {{ officer.full_name }} hereby apply for and request you to allot  {{ officer.share_details_json.shares_allotted }} {{ officer.share_details_json.shares_class }} Share(s) in the {{ app.company_name }}, for which the sum of {{ officer.share_details_json.currency }} {{ officer.share_details_json.total_share_price }}  cash or cash equivalent is due and payable on allotment.
        </td>
    </tr>
    <tr>
        <td height="30" align="center" style="padding:10px;"></td>
    </tr>
    <tr>
        <td height="40" align="left" style="padding:10px; font-size:15px;text-align:justify;">
            I / (We) undertake and agree to accept this number of shares allotted to us upon the terms of the Constitution of the Company, and we authorised you to place our name on the Register of Members of the Company in respect of the shares allotted to us.
        </td>
    </tr>
    <tr>
        <td height="30" align="center" style="padding:10px;"></td>
    </tr>
</table>
<br/>
<br/>
<br/>

<table border="0" width="100%">
    <tr>
        <td class="tl" width="100%" height="30" align="left" colspan="2"> Dated this : ________________________________ day of _____________________________________________ </td>
    </tr>
</table>
<br/>
<br/>
<br/>

<hr height="2"></hr>
<table border="0" width="100%">
    <tr>
        <td class="tl" width="20%" height="30" align="center"> <b>S/N                         </b> </td>
        <td class="tl" width="50%" height="30" align="left"> <b>Name of Shareholder         </b> </td>
        <td class="tl" width="30%" height="30" align="center"> <b>Signature by the Shareholder</b> </td>
    </tr>
</table>
<hr height="2"></hr>

<table border="0" width="100%" height="300">
    <tr>
        <td class="tl" width="20%" height="60" align="center"> <br><br>{{ officer.share_details_json.certificate_no }}</td>
        <td class="tl" width="50%" height="60" align="left"  > <br><br>{{ officer.full_name }} </td>
        <td class="tl" width="30%" height="60" align="center"> <br><br>
          <span style="color: white; font-size: 1px">{{ app.signature }}</span>
          <hr>
        </td>
    </tr>
</table>
<br/>
<br/>
<br/>
