<html>
<body>
	<div style="width:100%; height:10px;"></div>
	<h1 style="width:100%;text-align:center;">{{app.company_name}} </h1>

	<div style="width:100%;text-align:center;font-size:14px;line-height: 120%;">
	(Company Registration Number: {{ app.uen }})
	<br/>(Incorporated the Republic of Singapore)
	</div>

	<div style="width:100%;text-align:center;font-size:14px;">
		{{ app.addr_1 }} {{ app.addr_2 }} {{ app.postal_code }}
	</div>

	<hr height="3"></hr>

	<table border="0" width="655">
	  <tr><td colspan="3" height="20"></td></tr>
    <tr>
    	<td width="32">&nbsp;</td>
    	<td width="569"><p>Date:</p></td>
    	<td width="32">&nbsp;</td>
    </tr>
    <tr><td colspan="3" height="20"></td></tr>
    <tr><td colspan="3" height="20"></td></tr>
	  <tr>
    	<td width="32">&nbsp;</td>
    	<td width="569"><p>Dear Officer,</p></td>
    	<td width="32">&nbsp;</td>
    </tr>
    <tr><td colspan="3" height="20"></td></tr>
    <tr>
    	<td width="32">&nbsp;</td>
    	<td width="569" style="text-align:left;font-size:14px;line-height: 100%;"><p><b><u>TERMINATION OF CORPORATE SECRETARIAL SERVICES</u></b></p></td>
    	<td width="32">&nbsp;</td>
    </tr>
    <tr>
    	<td width="52">&nbsp;</td>
    	<td width="550" style="text-align:justify;">
			<br/>
			<br/>
			<br/>
			</td>
    </tr>

    <tr>
    	<td width="52">&nbsp;</td>
    	<td width="530" style="text-align: justify;">
			<br/>We regret to inform you that the Company has decided to terminate your corporate
           secretarial service and appoint LEE KIM ALLIANCE PTE. LTD. to handle the
           corporate secretarial matters of our Company with immediate effect.
			<br/>
			</td>
    </tr>

    <tr>
    	<td width="52">&nbsp;</td>
    	<td width="530" style="text-align:justify;">
			<br/>
			</td>
    </tr>

    <tr>
    	<td width="52">&nbsp;</td>
    	<td width="530" style="text-align:justify;">
			<br/>In the premises, kindly arrange to hand over all our Company’s secretarial records as
			<br/>follows: -
			<br/>
			<br/>
			</td>
    </tr>


    <tr>
    	<td width="70"></td>
    	<td width="550" style="text-align:justify;">
			<br/>1. Common Seal;
			</td>
    </tr>
        <tr>
    	<td width="70"></td>
    	<td width="550" style="text-align:justify;">
			<br/>2. Diretors’/Members’s Minute Books;
			</td>
    </tr>
        <tr>
    	<td width="70"></td>
    	<td width="550" style="text-align:justify;">
			<br/>3. Statutory Registers;
			</td>
    </tr>
        <tr>
    	<td width="70"></td>
    	<td width="550" style="text-align:justify;">
			<br/>4. Certificate of Incorporation
			</td>
    </tr>
        <tr>
    	<td width="70"></td>
    	<td width="550" style="text-align:justify;">
			<br/>5. Memorandum and Articles of Association; and
			</td>
    </tr>
        <tr>
    	<td width="70"></td>
    	<td width="550" style="text-align:justify;">
			<br/>6. Secretarial File of the Company containing the following:
			</td>
    </tr>
        <tr>
    	<td width="85"></td>
    	<td width="550" style="text-align:justify;">
			<br/>A. Share Transfer Forms
			</td>
    </tr>
        <tr>
    	<td width="85"></td>
    	<td width="550" style="text-align:justify;">
			<br/>B. Share Certificates Counterfoils and Cancelled Share Certificates
			</td>
    </tr>
        <tr>
    	<td width="85"></td>
    	<td width="550" style="text-align:justify;">
			<br/>C. All documents filed with the ACRA
			</td>
    </tr>
        <tr>
    	<td width="85"></td>
    	<td width="550" style="text-align:justify;">
			<br/>D. Secretary’s Letter of Resignation
			<br/>
			<br/>
			</td>
    </tr>


        <tr>
    	<td width="52">&nbsp;</td>
    	<td width="530" style="text-align:justify;">
			<br/>Please contact us when the above said items are ready for collection.<br/>
			<br/>We thank you for your services rendered to-date.<br/>
			<br/>Yours faithfully
			<br/>
			<br/>
			<br/>
			<br/>
			</td>
    </tr>

	</table>
	<table border="0" cellpadding=0 cellspacing=0 width="90%" align="center">
		<tr><td colspan="3" style="height:20px;"></td></tr>
		{% for director in app.officers_directors %}
			{% if loop.index % 2 == 1 %}
				<tr>
				<td style="width:40%; text-align:left;font-size:14px;height: 130px;">
          <span style="color: white; font-size: 1px">_____________________________________________________________________
            ___________________________________________{{ director.signature }}</span>
          <hr>
					<b>{{ director.full_name }}<br/></b>
					DIRECTOR
				</td>
				<td width="140"></td>
			{% else %}
				<td style="width:40%; text-align:left;font-size:14px;height: 130px;">
          <span style="color: white;font-size: 1px">_____________________________________________________________________
            ___________________________________________{{ director.signature }}</span>
          <hr>
					<b>{{ director.full_name }}<br/></b>
					DIRECTOR
				</td>
				</tr>
			{% endif %}
			{% if loop.index % 2 == 1 and loop.index == loop.length %}
				<td>
					&nbsp
				</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	</body>
</html>
