<html>
<body>
{#		<div style="width:100%; height:10px;"></div>#}
<div>
		<h1 style="width:100%;text-align:center;">{{ app.company_name }}   </h1>
		<div style="width:100%;text-align:center;font-size:14px;">
			(Company Registration Number: {{ app.uen }})<br/>
			(Incorporated in the Republic of Singapore)
		</div>

		<hr style="border:solid height:10px;">
		<div style="width:100%; height:5px;"></div>

		<div style="width:100%;text-align:center;font-size:28px;font-weight:bold;">
			CERTIFICATE OF EMPLOYMENT
		</div>

		<hr style="border:solid height:10px;">

		<div style="width:100%;text-align:left;font-size:14px;"></div>

	</div>


	<div style="width:100%;text-align:left;font-size:16px;">
		<table >
			<tr>
				<td width="25%" align="left" >
					<p style="margin-left: 40px; margin-right: 0px">Company Name: <br/></p>
				</td>
				<td width="75%">
					<p style="margin-left: 40px; margin-right: 0px">{{app.company_name}}</p>
				</td>

			</tr>
			<tr>
				<td width="25%" align="left" >
					<p style="margin-left: 40px; margin-right: 0px">Registration No. :</p>
				</td>
				<td width="75%">
					<p style="margin-left: 40px; margin-right: 0px">
						{{ app.uen }}  <br/>
					</p>
				</td>
			</tr>
			<tr>
				<td width="25%" align="left" >
					<p style="margin-left: 40px; margin-right: 0px">Registered Office<br/>Address :</p>
				</td>
				<td width="75%">
					<p style="margin-left: 40px; margin-right: 0px">
						{{ app.addr_1 }} {{ app.addr_2 }} {{ app.postcode }}
					</p>
				</td>
			</tr>
		</table>
	</div>
	<div style="width:100%;font-size:14px;">
		<table border="1" width="100%" style="padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
			<tr>
				<td class="tl" width="40%" height="40" valign="absmiddle">  1. Name in full</td>
				<td class="tl" width="60%" height="40" valign="absmiddle"><b>{{officer.full_name}}</b></td>
			</tr>
			<tr>
				<td class="tl" width="40%" height="40">  2. Date / Country of Birth</td>
				<td class="tl" width="60%" height="40">{{officer.dob}} / {{ officer.country_birth }}</td>
			</tr>
			<tr>
				<td class="tl" width="40%" height="40">  3. Nationality / Citizenship</td>
				<td class="tl" width="60%" height="40">{{ officer.nationality }}</td>
			</tr>
			<tr>
				<td class="tl" width="40%" height="20"  style="line-height:120%;word-wrap:break-word">  4. Type of ID ({{officer.id_type}})</td>
				<td class="tl" width="60%" height="20">{{officer.id_type}} {{officer.id_number}}</td>
			</tr>
			<tr>
				<td class="tl" width="40%" height="40">  5. Business Occupation</td>
				<td class="tl" width="60%" height="40">{{officer.designation}}</td>
			</tr>
			<tr>
				<td class="tl" width="40%" height="40">  6. Residential Address</td>
				<td class="tl" width="60%" height="40" style="line-height:16px;word-wrap:break-word">{{officer.address_1}} {{officer.address_2}} {{officer.postal_code}}</td>
			</tr>
		</table>
	</div>
	<div style="width:100%;text-align:left;font-size:14px;font-weight:bold;">
		<div style="width:100%;text-align:left;font-size:14px;">
			This is certifying that the above statements are correct and true.<br/>
			Dated : {{ frappe.utils.formatdate(frappe.utils.today(), 'dd/MM/YYYY') }}
		</div>
	</div>
	<table border="0" cellpadding=0 cellspacing=0 width="98%" align="left">
		<tr>
			<td colspan="3" style="height:20px;"></td>
		</tr>
	 	<tr>
		 	<td class="tl" width="50%" height="20" align="right">  Signature:  </td>
		 	<td class="tl" width="50%" height="20" align="left" style="border-bottom: solid 1px #000000;"><p style="text-align:center;"><img src="https://www.leekim.co/admin/manager/php/connector.minimal.php?cmd=file&target=l1_TGF3cmVuY2UucG5n" style="height:80px;"></p></td>
		 </tr>
		 <tr><td height="5"></td></tr>
		 <tr>
		 	<td class="tl" width="50%" height="20" align="right">  Name of {{officer.designation}}: </td>
		 	<td class="tl" width="50%" height="20" align="left" style="border-bottom: solid 1px #000000;"> &nbsp; &nbsp;  () </td>
{#		 	<td class="tl" width="50%" height="20" align="left" style="border-bottom: solid 1px #000000;"> &nbsp; &nbsp; '.$DIRECTOR_FULL_NAME[2].' ('.$DIRECTOR_ID_NO[2].') </td>#}
		 </tr>
		 <tr><td colspan="2" height="20"></td></tr>

	</table>

</body>
</html>
