<style>
  span {
    font-size: 1px;
    color: white;
  }
</style>
<h1 style="width:100%;text-align:center;">{{ datas.company_name }} {{ datas.field_company_type }}</h1>
<div style="width:100%; height:10px;"></div>
<div style="width:100%;text-align:center;font-size:14px;line-height: 120%;">
  (Company Registration Number: {% if datas.field_application_id is not null %}
    {{ datas.field_application_id }} {% else %} ________________ {% endif %})
  <br/>(Incorporated the Republic of Singapore)
</div>
<div style="width:100%; height:5px;"></div>
<div style="width:100%;text-align:center;font-size:14px;">
  DIRECTORS' RESOLUTION IN WRITING MADE PURSUANT TO
  <br>THE CONSTITUTION OF THE COMPANY
</div>

<hr height="3"></hr>

<table border="0" width="655">
  <tr>
    <td colspan="3" height="20"></td>
  </tr>
  <tr>
    <td colspan="3" height="20"></td>
  </tr>
  <tr>
    <td width="32">&nbsp;</td>
    <td width="569"><p><b>1. INCORPORATION</b></p></td>
    <td width="32">&nbsp;</td>
  </tr>
  <tr>
    <td width="52">&nbsp;</td>
    <td width="550" style="text-align:justify;">
      <br/>
      <br/>IT WAS NOTED :
      <br/>
    </td>
  </tr>

  <tr>
    <td width="52">&nbsp;</td>
    <td width="20">(a)</td>
    <td width="530" style="text-align:justify;">
      <br/>THAT the company was incorporated on the {% if datas.field_company_effect_date is not null %}
        {{ datas.field_company_effect_date|date('d/m/Y') }} {% else %} ________________ {% endif %}
      <br/>
    </td>
  </tr>

  <tr>
    <td width="52">&nbsp;</td>
    <td width="20">(b)</td>
    <td width="530" style="text-align:justify;">
      <br/>THAT the Notice of Incorporation No. {% if datas.field_application_id is not null %}
        {{ datas.field_application_id }} {% else %} ________________ {% endif %} was issued by the Accounting and
      Corporate Regulatory Authority, Singapore, as attached and that the name of the Company
      will be duly displayed at the Company’s registered office.
      <br/>
    </td>
  </tr>

  <tr>
    <td width="52">&nbsp;</td>
    <td width="20">(c)</td>
    <td width="530" style="text-align:justify;">
      <br/>THAT the copies of the Constitution registered with the
      Accounting Corporate Regulatory Authority, Singapore have been printed and are
      available.
      <br/>
      <br/>
    </td>
  </tr>

  <tr>
    <td width="32">&nbsp;</td>
    <td width="569"><p><b>2. FIRST DIRECTORS</b></p></td>
    <td width="32">&nbsp;</td>
  </tr>
  <tr>
    <td width="52">&nbsp;</td>
    <td width="550" style="text-align:justify;">
      <br/>
      <br/>
      IT WAS NOTED that &nbsp;
      {%- for director in datas.directors %}
        {%- if loop.first -%}<b>{{- director.full_name -}}</b>
        {%- elseif loop.last -%}&nbsp;and&nbsp;<b>{{- director.full_name -}}</b>
        {%- else -%}, <b>{{- director.full_name -}}</b>
        {%- endif -%}
      {% endfor -%}
      &nbsp;having consented to act as
      the directors, were named at the First Directors in the Constitution in the Company,
      and that the necessary returns were filed with the Accounting And Corporate Regulatory
      Authority on incorporation.
      <br/>
      <br/>
    </td>
  </tr>

  <tr>
    <td width="32">&nbsp;</td>
    <td width="569"><p><b>3. REGISTERED OFFICE</b></p></td>
    <td width="32">&nbsp;</td>
  </tr>
  <tr>
    <td width="52">&nbsp;</td>
    <td width="550" style="text-align:justify;">
      <br/>
      <br/>IT WAS CONFIRMED that the registered office of the Company as from the date of
      the Company as from the date of incorporation was at
      <b>{{ datas.field_address_line_1 }} {{ datas.field_address_line_2 }} {{ datas.field_postcode }}</b>
      <br/>
      <br/>
    </td>
  </tr>

  <tr>
    <td width="32">&nbsp;</td>
    <td width="569"><p><b>4. ADOPTION OF COMMON SEAL</b></p></td>
    <td width="32">&nbsp;</td>
  </tr>
  <tr>
    <td width="52">&nbsp;</td>
    <td width="550" style="text-align:justify;">
      <br/>
      <br/>IT WAS RESOLVED that the Common Seal of the Company, will not be adopted by the request of the
      directors.
      <br/>
      <br/>
    </td>
  </tr>

  <tr>
    <td width="32">&nbsp;</td>
    <td width="569"><p><b>5. ISSUE OF SUBSCRIBERS’ SHARE</b></p></td>
    <td width="32">&nbsp;</td>
  </tr>
  <tr>
    <td width="52">&nbsp;</td>
    <td width="550" style="text-align:justify;">
      <br/>
      <br/>IT WAS CONFIRMED that the subscriber to the Constitution of the Company
      be registered as Member in respect of the share subscribed in full for cash as follows;
      <br/>
      <br/>
    </td>
  </tr>
</table>

<!--hr height="3"></hr-->
<P style="page-break-before: always">
<table border="0" cellpadding=0 cellspacing=0 width="90%" align="center" style="border-spacing: 0 10px;">
  <tr>
    <td style="width:10.0%; text-align:  left;font-size:13px;"></td>
    <td style="width:50%; text-align:  left;font-size:13px;"><br/><br/><b>Subscribers </b></td>
    <td style="width:19.5%; text-align: right;font-size:13px;"><br/><br/><b>No. of Shares </b></td>
    <td style="width:20.5%; text-align:center;font-size:13px;"><br/><br/><b>Share Certificates Number</b></td>
  </tr>

  {%- for key, value in datas.shareholders %}
    <tr>
      <td></td>
      <td align="left" style="font-size:10px; float: left">{{- value.full_name -}}
        <br/>{{- value.field_address_line_1 -}}
        <br/>{{- value.field_address_line_2 -}}&nbsp;{{- value.field_postal_code -}}
      </td>
      <td align="right"><br/><br/>{{ value.field_shareholder_shares_allotte|number_format(0,'',',') }}</td>
      <td align="center"><br/><br/>{{ value.field_shareholder_shares_certificate_number }}</td>
    </tr>
  {% endfor -%}

</table>

<table border="0" width="655">
  <tr>
    <td colspan="3" height="15">&nbsp;</td>
  </tr>
  <tr>
    <td width="52">&nbsp;</td>
    <td width="550" style="text-align:justify;">

      <br/>IT WAS RESOLVED that share certificate no.
      {% set count = 1 %}
      {% for key, value in datas.shareholders %}
        {%- if loop.first -%}
          <b>{{- value.field_shareholder_shares_certificate_number -}}</b>
        {%- elseif loop.last -%}
          <span> </span>and <b>{{- value.field_shareholder_shares_certificate_number -}}</b>
        {%- else -%}
          , <b>{{- value.field_shareholder_shares_certificate_number -}}</b>
        {%- endif -%}
      {% endfor %}
      be issued to above named
      subscribers and that the Common Seal of the Company not be affixed thereto in accordance with the provisions
      of the Company’s Article on Association.
      <br/>
      <br/>
    </td>
  </tr>
  <tr>
    <td width="32">&nbsp;</td>
    <td width="569"><b>6. APPOINTMENT OF COMPANY SECRETARY</b></td>
    <td width="32">&nbsp;</td>
  </tr>
  <tr>
    <td width="52">&nbsp;</td>
    <td width="550" style="text-align:justify;">
      <br/>
      <br/>IT WAS RESOLVED that the appointment of
      {% for key, value in datas.secretary %}
        {% if loop.first %}
          <b>{{ value.full_name|upper }}</b>
        {% elseif loop.last %}
          and  <b>{{ value.full_name|upper }}</b>
        {% else %}
          , <b>{{ value.full_name|upper }}</b>
        {% endif %}
      {% endfor %}
      as the Company Secretaries with
      effect from the date of
      incorporation be and is hereby approved, confirmed and ratified.
      <br/>
      <br/>
    </td>
  </tr>

  <tr>
    <td width="32">&nbsp;</td>
    <td width="569"><b>7. APPOINTMENT OF SECRETARIAL AGENTS</b></td>
    <td width="32">&nbsp;</td>
  </tr>
  <tr>
    <td width="52">&nbsp;</td>
    <td width="550" style="text-align:justify;">
      <br/>
      <br/>IT WAS RESOLVED that <b>LEE KIM ALLIANCE PTE. LTD.</b> be appointed as Corporate
      Secretarial Agency of the Company with immediate effect.
      <br/>
      <br/>
    </td>
  </tr>


  <tr>
    <td width="32">&nbsp;</td>
    <td width="569"><b>8. FINANCIAL YEAR ENDED</b></td>
    <td width="32">&nbsp;</td>
  </tr>
  <tr>
    <td width="52">&nbsp;</td>
    <td width="550" style="text-align:justify;">
      <br/>
      <br/>
      IT WAS RESOLVED that
      {% if datas.field_financial_year_end %}
        <b>{{ datas.field_financial_year_end|date('t/m/Y') }}</b>
      {% else %}
        <b><u> &nbsp; &nbsp; &nbsp; {{ datas.field_financial_year_end|date('t/m/Y') }} &nbsp;
            &nbsp; &nbsp; </u></b>
      {% endif %}
      be and hereby adopted as Company’s
      financial year ended and that the first financial period of the Company shall be from <b><u> &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </u></b>
      until otherwise resolved.
      <br/>
      <br/>
    </td>
  </tr>


  <tr>
    <td width="52">&nbsp;</td>
    <td width="601">
      <br/>IT WAS NOTED that the First Annual General Meeting of the Company would be due on <br/><br/> Dated: <u>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</u>
      <br/>
      <br/>
      <br/><br/>
      <br/>
    </td>
  </tr>
</table>
<table border="0" cellpadding=0 cellspacing=0 width="90%" align="center" class="signature">
  <tr>
    <td colspan="3" style="height:20px;"></td>
  </tr>

  {% for director in datas.directors %}
    {% if loop.index % 2 == 1 %}
      <tr nobr="true">
      <td style="width:40%; text-align:left;font-size:14px;height: 130px;">
        <span>_________________________________________________________________________________________________________
          ________________________________________</span>
        <span>{{ director.signature }}</span>
        <hr><b>{{ director.full_name }}<br></b>
        {{ director.positions|upper }}
      </td>
      <td width="140"></td>
    {% else %}
      <td style="width:40%; text-align:left; font-size:14px;height: 130px;">
        <span>_________________________________________________________________________________________________________
          ________________________________________</span>
        <span>{{ director.signature }}</span>
        <hr><b>{{ director.full_name }}<br></b>
        {{ director.positions|upper }}
      </td>
      </tr>
    {% endif %}
    {% if loop.index % 2 == 1 and loop.index == loop.length %}
      </tr>
    {% endif %}
  {% endfor %}
</table>
