<style>

    .tl { text-align: left; padding-left: 20px; }
    .tc { text-align: center; }

</style>

<br/>
<br/>
<table border="0" width="100%">
    <tr>
        <td align="center" width="80%" style="padding-top:20px;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <table border="1" width="400" height="300" align="left">
                <tr>
                    <td align="center" style="font-size:14px;">

                        <br/>
                        <br/>
                        <br/>THE COMPANIES ACT
                        <br/>(CHAPTER 50)
                        <br/>SECTION 173(2)(a)
                        <br/>
                        <br/>CONSENT TO ACT AS DIRECTOR
                        <br/> AND STATEMENT OF NON DISQUALIFICATION TO ACT
                        <br/>AS DIRECTOR
                        <br/>
                        <br/>

                    </td>
                </tr>
            </table>

        </td>
        <td class="tc" width="20%" height="40" valign="middle"
            style="border-left: solid 2px #000;border-bottom: solid 2px #000;">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <span style="font-size:17px;"><b>FORM</b></span>
            <br/>
            <br/>
            <br/>
            <span style="font-size:30px;"><b>45</b></span>
            <br/>
            <br/>
            <br/>

        </td>
    </tr>
</table>
<br/>
<br/>
<br/>
<table border="0" width="100%">
    <tr>
        <td class="tl" width="20%" height="20" valign="absmiddle"><b> Name of Company : </b></td>
        <td class="tl" width="80%" height="20" valign="absmiddle" style="border-bottom: solid 1px #000000;"><b>{{ datas.company_name }} {{ datas.field_company_type }}</b>
        </td>
    </tr>
    <tr><td height="5"></td></tr>
    <tr>
        <td class="tl" width="20%" height="20" align="left"><b> Company No : </b></td>
        <td class="tl" width="80%" height="20" align="left" style="border-bottom: solid 1px #000000;"><b>{{ datas.field_application_id }}</b></td>
    </tr>


    <tr>
        <br/><br/><br/>
        <td width="30"></td>
        <td width="90%" style="font-size:13px;" style="line-height:120%;word-wrap:break-word">
        </td>
    </tr>
    <tr>
        <td width="50"></td>
        <td width="90%" style="font-size:13px;" style="line-height:120%;word-wrap:break-word">

            <ol>I,&nbsp; the undermentioned person, hereby consent to act as a director of the
              abovenamed company with effect from <u><strong>26/04/2021</strong></u>(date) and declare that: <br/> <br/>
                <ol type="a">
                    <li>I am not disqualified from acting as a director, in that:</li>
                    <br/>

                    <ol type="i">
                        <li>I am not below 18 years of age and that I am of full capacity.</li>
                        <br/>
                        <li>Within a period of 3 years preceding the date of this statement I have not had
                            any disqualification order made by the High Court of Singapore against me
                            under section 149A (1) of the Companies Act ("the Act").
                        </li>
                        <br/>
                        <li>Within a period of 5 years preceding the date of this statement I have not had
                            any disqualification order made by the High Court of Singapore against me
                            under section 149 (1) or 154 (2) of the Act.
                        </li>
                        <br/>
                        <li>*That within a period of 5 years preceding the date of this statement I have not been
                            convicted whether within or without Singapore, of any offence
                        </li>
                        <br/>

                        <ol type="A">
                            <li>in connection with the promotion, formation or management of a
                                corporation;
                            </li>
                            <br/>

                            <li>involving fraud or dishonesty punishable on conviction with
                                imprisonment for 3 months or more; or
                            </li>
                            <br/>

                            <li>under section 157 (failure to act honestly and diligently as a director
                                or making improper use of company information for gain) or under
                                section 339 (failure to keep proper company accounts books) of the
                                Act.
                            </li>
                            <br/>
                        </ol>
                        <li>* That within a period of 5 years preceding the date of this statement I have not
                            been convicted, in Singapore or elsewhere, of any offence involving fraud or
                            dishonesty punishable on conviction with imprisonment for 3 months or more.
                        </li>
                        <br/><br/>

                    </ol>
                </ol>
            </ol>

        </td>
    </tr>
</table>

<P style="page-break-before: always">
<table border="0" width="100%">
    <tr>
        <td align="center" width="80%" style="padding-top:20px;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br/>
            <br/>
            <table border="0" width="100%" height="300" align="left">
                <tr>
                    <td class="tl" width="30%" height="20" valign="absmiddle"><b> Name of Company : </b></td>
                    <td class="tl" width="65%" height="20" valign="absmiddle" style="border-bottom: solid 1px #000000;"><b>{{ datas.company_name }} {{ datas.field_company_type }}</b></td>
                </tr>
                <tr><td height="5"></td></tr>
                <tr>
                    <td class="tl" width="30%" height="20" align="left"><b>Company No :</b></td>
                    <td class="tl" width="65%" height="20" align="left" style="border-bottom: solid 1px #000000;"><b>{{ datas.field_application_id }}</b></td>
                </tr>
            </table>

        </td>
        <td class="tc" width="20%" height="40" valign="middle"
            style="border-left: solid 2px #000;border-bottom: solid 2px #000;">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <span style="font-size:17px;text-align: center;"><b>FORM</b></span>
            <br/>
            <br/>
            <br/>
            <span style="font-size:30px;text-align: center;"><b>45</b></span>
            <br/>
            <br/>
            <br/>

        </td>
    </tr>
</table>
<br/>
<br/>
<br/>


<table border="0" width="100%">
    <tr>
        <td width="50"></td>
        <td width="90%" style="font-size:13px;" style="line-height:120%;text-align: justify;">
            <ol>
                <ol type="a">


                    <ol type="i">
                        <li value="6">That -</li>
                        <br/>

                        <ol type="A">
                            <li>I have not been convicted of 3 or more offences under the Act in
                                relation to the requirements on the filing of returns, accounts or other
                                documents with the Registrar of Companies and have not had 3 or
                                more orders of the High Court of Singapore made against me under
                                section 13 or 399 of the Act in relation to such requirements;
                            </li>
                            <br/>

                            <li>the last of any such conviction did not take place or the last of any such
                                order was not made during the period of 5 years preceding the date of
                                this statement; and
                            </li>
                            <br/>

                            <li>I am not an undischarged bankrupt under section 148 (1) of the Act.</li>
                            <br/>
                        </ol>
                        <li>By virtue of the foregoing I am not disqualified from acting as a director of the
                            abovenamed company
                        </li>
                        <br/><br/>

                    </ol>

                    <li value="2">I am aware of and undertake to abide by my duties, responsibilities and liabilities
                        specified in the Act as well as under the common law where applicable, including the
                        following key administrative and substantive duties, that is, to:
                    </li>
                    <br/>
                    <ol type="i">
                        <li>discharge my responsibilities in the company;</li>
                        <br/>

                        <li>ensure that I have a reasonable degree of skill and knowledge to handle the
                            affairs of the company;
                        </li>
                        <br/>
                        <li>act honestly and be reasonably diligent in discharging my duties and act in the
                            interest of the company without putting myself in a position of conflict of interest;
                        </li>
                        <br/>
                        <li>employ the powers and assets that I am entrusted with for the proper purposes
                            of the company and not for any collateral purpose;
                        </li>
                        <br/>
                        <li>ensure that the company and I comply with all the requirements and obligations
                            under the Act including those in respect of meetings, requisitions, resolutions,
                            accounts, reports, statements, records and other documents on the company,
                            filing and notices and any other prerequisites; and
                        </li>
                        <br/>
                        <li>account to the shareholders for my conduct of the affairs of the company and
                            make such disclosures that are incumbent upon me under the Act.
                        </li>
                        <br/>

                    </ol>
                </ol>
            </ol>
        </td>
    </tr>
</table>

<P style="page-break-before: always">
<table border="0" width="100%">
    <tr>
        <td align="center" width="80%" style="padding-top:20px;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br/>
            <br/>
            <table border="0" width="100%" height="300" align="left">
                <tr>
                    <td class="tl" width="30%" height="20" valign="absmiddle"><b> Name of Company : </b></td>
                    <td class="tl" width="65%" height="20" valign="absmiddle" style="border-bottom: solid 1px #000000;"><b>{{ datas.company_name }} {{ datas.field_company_type }}</b></td>
                </tr>
                <tr><td height="5px"></td></tr>
                <tr>
                    <td class="tl" width="30%" height="20" align="left"><b> Company No : </b></td>
                    <td class="tl" width="65%" height="20" align="left" style="border-bottom: solid 1px #000000;"><b>{{ datas.field_application_id }}</b></td>
                </tr>
            </table>

        </td>
        <td class="tc" width="20%" height="40" valign="middle"
            style="border-left: solid 2px #000;border-bottom: solid 2px #000;">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <span style="font-size:17px;text-align: center;"><b>FORM</b></span>
            <br/>
            <br/>
            <br/>
            <span style="font-size:30px;text-align: center;"><b>45</b></span>
            <br/>
            <br/>
            <br/>

        </td>
    </tr>
</table>
<br/>
<br/>
<br/>

<table border="0" width="100%">
    <tr>
        <td width="50"></td>
        <td width="90%" style="font-size:13px;">

        </td>
    </tr>
</table>
<table border="0" width="100%">
    <tr>
        <td width="60"></td>
        <td width="90%" style="font-size:13px;">
            <img src="/themes/custom/zurblk/images/pdf/2016-04-05-01.PNG" width="550">
        </td>
    </tr>
</table>
<br/>
<br/>
<br/>

<table border="0" width="100%" align="left">
    <tr>
        <td class="tl" width="05%" height="20" valign="absmiddle"> &nbsp;</td>
        <td class="tl" width="20%" height="20" valign="absmiddle"> Name :</td>
        <td class="tl" width="65%" height="20" valign="absmiddle" style="border-bottom: solid 1px #000000;">TAN KUAN HUI</td>
    </tr>
    <tr>
        <td colspan="3" height="10"></td>
    </tr>
    <tr>
        <td class="tl" width="05%" height="20" valign="absmiddle"> &nbsp;</td>
        <td class="tl" width="20%" height="20" valign="absmiddle"> Address :</td>
        <td class="tl" width="65%" height="20" valign="absmiddle" style="border-bottom: solid 1px #000000;">483 RIVER VALLEY ROAD #13-08 VALLEY PARK</td>
    </tr>
    <tr>
        <td colspan="3" height="10"></td>
    </tr>
    <tr>
        <td class="tl" width="05%" height="20" valign="absmiddle"> &nbsp;</td>
        <td class="tl" width="20%" height="20" valign="absmiddle"></td>
        <td class="tl" width="65%" height="20" valign="absmiddle" style="border-bottom: solid 1px #000000;">SINGAPORE 248368</td>
    </tr>
    <tr>
        <td colspan="3" height="10"></td>
    </tr>
</table>

<table border="0" width="100%" align="left">
    <tr>
        <td class="tl" width="05%" height="20"> &nbsp;</td>
        <td class="tl" width="20%" height="20" align="left"> NRIC (Citizen) No.</td>
        <td class="tl" height="20" align="center" style="border-bottom: solid 1px #000000;"> S1853117H
        </td>
        <td class="tl" height="20" align="center"> Nationality :</td>
        <td class="tl" height="20" align="center" style="border-bottom: solid 1px #000000;">SINGAPOREAN</td>
    </tr>
    <tr>
        <td colspan="5" height="30"></td>
    </tr>
</table>

<table border="0" width="100%" height="300" align="left">
    <tr>
        <td class="tl" width="05%" height="30" valign="absmiddle"> &nbsp;</td>
        <td class="tl" width="60%" height="30" align="left"> &nbsp;</td>
        <td class="tl" width="40%" height="30" align="left"> Signature: <img src="/static/signature/TAN_KUAN_HUI.gif"></td>
    </tr>
    <tr>
        <td class="tl" width="05%" height="30" valign="absmiddle"> &nbsp;</td>
        <td class="tl" width="100%" height="30" align="left" colspan="2"> Dated this : 26 day of April , 2021
        </td>
    </tr>
    <tr>
        <td class="tl" width="05%" height="30" valign="absmiddle"> &nbsp;</td>
        <td class="tl" width="100%" height="30" align="left" colspan="2"><span style="font-size:10px;">*Delete where inapplicable</span>
        </td>
    </tr>
</table>
