<table>
    <tr>
        <td align="center" style="border-bottom:2px solid black;">
            THE COMPANIES ACT (CHAPTER 50)<br>
            A PRIVATE COMPANY LIMITED BY SHARES<br>
            CONSTITUTION OF <br>
            {{ app.company_name }}
            <br>
        </td>
    </tr>
</table>
<br>
<div>1. The name of the company is {{ app.company_name }} </div>
<div>2. The registered office of the company is situated in the Republic of Singapore.<br>
    <br>
    <table style="padding-left: 5px;">
        <tr style="font-size:11px">
            <td width="5%"></td>
            <td width="50%"><b>{{ app.addr_1 }}</b></td>
        </tr>
        <tr style="font-size:11px">
            <td width="5%"></td>
            <td width="50%"><b>{{ app.addr_2 }}</b></td>
        </tr>
        <tr style="font-size:11px">
            <td width="5%"></td>
            <td width="50%"><b>{{ app.postcode }}</b></td>
        </tr>
    </table>
</div>
<div>3. The liability of the members is limited.</div>
<div>4. The share capital of the company is:</div><br>
<table style="padding-left: 5px">
    <tr style="font-size:11px">
        <td width="5%"></td>
        <td style="text-align: center"><u><b>Currency </b></u><br></td>
        <td style="text-align: center"><u><b>Amount of Issued Share Capital</b></u></td>
    </tr>

    {% for detail in app.capital_details %}
        <tr style="font-size:11px;">
            <td width="5%"></td>
            {% if detail.capital_currency != 'SGD' %}
                <td style="text-align: center"><b>{{ detail.capital_currency }}</b></td>
            {% else %}
                <td style="text-align: center"><b>SINGAPORE DOLLARS (SGD)</b></td>
            {% endif %}
            <!-- <td><b>'.$ACC_CAPITAL_NUMBER_SHARES_ORD.'</b></td> -->
            <td style="text-align: center"><b>{{ detail.no_issue_share }}</b></td>
        </tr>
    {% endfor %}
    
</table>
<br>
<div>5. We, the persons whose names and occupations are set out in this Constitution, desire to form a company in
    pursuance of this Constitution and we each agree to take the number of shares in the capital of the company set out
    against our respective names.
</div>
<br>
<table style="padding-left: 5px;">
    <tr style="font-size:11px">
        <td width="5%"></td>
        <td width="20%" style="text-align: center"><u><b>Name of Subscribers</b></u></td>
        <td style="text-align: center"><u><b>Occupation of Subscribers</b></u><br></td>
        <td style="text-align: center"><u><b>Number of Shares Allotted</b></u></td>
        <td style="text-align: center"><u><b>Class of shares</b></u></td>
        <td style="text-align: center"><u><b>Currency</b></u></td>
    </tr>
    {% for key, value in app.officers_shareholders %}
    <tr style="font-size:11px">
        <td></td>
        <td>{{ value.full_name }}<br><br><br><br></td>
        <td></td>
        <td style="text-align: right;">{{ value.share_details_json.shares_allotted }}</td>
        <td style="text-align: center">Ordinary</td>
        {% if value.share_details_json.currency != 'SGD' %}
            <td style="text-align: center">{{ value.share_details_json.currency }}</td>
        {% else %}
            <td>SINGAPORE DOLLARS (SGD)</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<br><br>
<div> Date this: {% if app.effect_date %} {{ app.effect_date }} {% else %} {{ "now"|date("d/m/Y") }} {% endif %}</div>


