<style>

    .tl { text-align:   left; padding-left: 20px; }
    .tc { text-align: center; }

</style>
<br/>
<br/>
<table>
  <tr>
    <td rowspan="2" width="25%"></td>
    <td rowspan="2" align="center" width="60%">
      <table border="1" width="300" height="300">
        <tr>
          <td align="center" style="font-size:13px; font-weight: bold; line-height: 20px">
            <br/>THE COMPANIES ACT
            <br/>(CHAPTER 50)
            <br/>SECTION 173C(b)
            <br/>CONSENT TO ACT AS
            <br/>SECRETARY
          </td>
        </tr>
      </table>
    </td>
    <td valign="absmiddle" width="15%" height="25" style="border: solid 2px #000;line-height: 20px">
      <span style="padding: 10px; font-size:13px;"><b>FORM 45B</b></span>
    </td>
  </tr>
  <tr>
    <td></td>
  </tr>
</table>
<br/>
<br/>
<br/>
<table border="0" width="100%">
    <tr>
        <td class="tl" width="30%" valign="absmiddle" style="font-size:14px;"><b> Name of Company : </b></td>
        <td class="tl" width="70%" height="20" valign="absmiddle" style="border-bottom: solid 1px #000000;"><b>{{ datas.company_name }} {{ datas.field_company_type }}</b></td>
    </tr>
    <tr>
        <td class="tl" width="30%" valign="absmiddle"></td>
        <td class="tl" width="70%" valign="absmiddle"></td>
    </tr>
    <tr>
        <td class="tl" width="30%" align="left"><b> Company No : </b></td>
        <td class="tl" width="70%" height="20" valign="absmiddle" style="border-bottom: solid 1px #000000;"><b>{{ datas.uen }}</b></td>
    </tr>
    <tr>
        <td class="tl" width="30%" valign="absmiddle"></td>
        <td class="tl" width="70%" valign="absmiddle"></td>
    </tr>
    <tr>
        <td class="tl" width="30%" valign="absmiddle"></td>
        <td class="tl" width="70%" valign="absmiddle"></td>
    </tr>
    <tr>
        <td width="4%">1.</td>
        <td width="96%">I, the undermentioned person, hereby consent to act as a secretary of the abovenamed company with effect from
            company, with effect from <b>{% if datas.field_company_effect_date is not null %}{{ datas.field_company_effect_date|date('d/m/Y') }}{% endif %}</b> (date)
            <br/>
        </td>
    </tr>
    <tr>
        <td width="4%">2.</td>
        <td width="96%">I am a qualified person under section 171 (1AA) of the Companies Act by virtue of my being —
            <br/>
            <br/>*(i) a secretary of a company for at least 3 years of the 5 years immediately preceding the abovementioned date
          of my appointment as secretary of the abovenamed company.
            <br/>
            <br/><s>*(ii) a qualified person under the Legal Profession Act (Cap. 161).</s>
          <br/>
            <br/><s>*(iii) a public accountant.</s>
            <br/>
            <br/><s>*(iiia)  a member of the Institute of Singapore Chartered Accountants (formerly known as the Institute of Certified
            Public Accountants of Singapore).</s>
            <br/>
            <br/><s>*(iv) a member of the Chartered Secretaries Institute of Singapore. </s>
            <br/>
            <br/><s>*(v) a member of the Association of International Accountants (Singapore Branch).</s>
            <br/>
            <br/><s>*(vi) a member of The Institute of Company Accountants, Singapore.</s>
        </td>
    </tr>
</table>
<br/>
<br/>
<br/>

<table border="0" width="100%" align="left">
    <tr>
        <td class="tl" width="30%" height="15" valign="absmiddle"> Name : </td>
        <td class="tl" width="70%" height="15" valign="absmiddle" style="border-bottom: solid 1px #000000;"> {{ datas.officer.field_full_name }}</td>
    </tr>
    <tr><td colspan="3" height="10"></td></tr>
    <tr>
        <td class="tl" width="30%" height="15" align="left"> Address : </td>
        <td class="tl" width="70%" height="15" valign="absmiddle" style="border-bottom: solid 1px #000000;"> <br> {{ datas.officer.field_address_line_1 }} {{ datas.officer.field_address_line_2 }} {{ datas.officer.field_postal_code }}</td>
    </tr>
    <tr><td colspan="3" height="10"></td></tr>
    <tr>
        <td class="tl" width="30%" height="15" align="left"> {{ datas.officer.field_id_type }} No.: </td>
        <td class="tl" width="70%" height="15" valign="absmiddle" style="border-bottom: solid 1px #000000;"> {{ datas.officer.field_id_no }} </td>
    </tr>
    <tr><td colspan="3" height="10"></td></tr>
    <tr>
        <td class="tl" width="30%" height="15" align="left"> Nationality : </td>
        <td class="tl" width="70%" height="15" valign="absmiddle" style="border-bottom: solid 1px #000000;"> {{ datas.officer.field_nationality }}</td>
    </tr>
    <tr><td colspan="3" height="30"></td></tr>
    <tr>
        <td class="tl" width="30%" height="15" align="left"> Signature :  </td>
        <td class="tl" width="70%" height="15" align="center" valign="absmiddle">
          <span style="color: white; font-size: 1px">{{ datas.signature }}</span>
          <hr>
        </td>
    </tr>
    <tr><td colspan="3" height="15"></td></tr>
    <tr>
        <td class="tl" width="100%" height="15" align="left" colspan="2"> Dated this : _________________________________ day of _________________________________________</td>
    </tr>
</table>
<div style="font-size:9px;">
  <p>To be completed by secretaries of public companies only or by secretaries of private companies appointed under section 171(1AB) of the
    Act.</p>
  <p>*Delete where inapplicable</p>
</div>
