<table>
    <tr>
        <td align="center" style="border-bottom:2px solid black;">
            THE COMPANIES ACT (CHAPTER 50)<br>
            A PRIVATE COMPANY LIMITED BY SHARES<br>
            CONSTITUTION OF <br>
            {{ datas.company_name }} {{ datas.field_company_type }}
            <br>
        </td>
    </tr>
</table>
<br>
<div>1. The name of the company is {{ datas.company_name }} {{ datas.field_company_type }}</div>
<div>2. The registered office of the company is situated in the Republic of Singapore.<br>
    <br>
    <table style="padding-left: 5px;">
        <tr style="font-size:11px">
            <td width="5%"></td>
            <td width="50%"><b>{{ datas.field_address_line_1 }}</b></td>
        </tr>
        <tr style="font-size:11px">
            <td width="5%"></td>
            <td width="50%"><b>{{ datas.field_address_line_2 }}</b></td>
        </tr>
        <tr style="font-size:11px">
            <td width="5%"></td>
            <td width="50%"><b>{{ datas.field_postcode }}</b></td>
        </tr>
    </table>
</div>
<div>3. The liability of the members is limited.</div>
<div>4. The share capital of the company is:</div><br>
<table style="padding-left: 5px">
    <tr style="font-size:11px">
        <td width="5%"></td>
        <td style="text-align: center"><u><b>Currency </b></u><br></td>
        <td style="text-align: center"><u><b>Amount of Issued Share Capital</b></u></td>
    </tr>

    {% for detail in company_capital_detail %}
        <tr style="font-size:11px;">
            <td width="5%"></td>
            {% if datas.field_capital_detail.field_currency != 'SGD' %}
                <td style="text-align: center"><b>{{ datas.field_capital_detail.field_currency }}</b></td>
            {% else %}
                <td style="text-align: center"><b>SINGAPORE DOLLARS (SGD)</b></td>
            {% endif %}
            <!-- <td><b>'.$ACC_CAPITAL_NUMBER_SHARES_ORD.'</b></td> -->
            <td style="text-align: center"><b>{{ datas.field_capital_detail.amount_of_issued_shares_capital|number_format(0,'',',') }}</b></td>
        </tr>
    {% endfor %}
    
</table>
<br>
<div>5. We, the persons whose names and occupations are set out in this Constitution, desire to form a company in
    pursuance of this Constitution and we each agree to take the number of shares in the capital of the company set out
    against our respective names.
</div>
<br>
<table style="padding-left: 5px;">
    <tr style="font-size:11px">
        <td width="5%"></td>
        <td width="20%" style="text-align: center"><u><b>Name of Subscribers</b></u></td>
        <td style="text-align: center"><u><b>Occupation of Subscribers</b></u><br></td>
        <td style="text-align: center"><u><b>Number of Shares Allotted</b></u></td>
        <td style="text-align: center"><u><b>Class of shares</b></u></td>
        <td style="text-align: center"><u><b>Currency</b></u></td>
    </tr>
    {% for key, value in datas.shareholders %}
    <tr style="font-size:11px">
        <td></td>
        <td>{{ value.full_name }}<br><br><br><br></td>
        <td></td>
        <td style="text-align: right;">{{ value.field_shareholder_shares_allotte|number_format(0,'',',') }}</td>
        <td style="text-align: center">Ordinary</td>
        {% if datas.field_capital_detail.field_currency != 'SGD' %}
            <td style="text-align: center">{{ datas.field_capital_detail.field_currency }}</td>
        {% else %}
            <td>SINGAPORE DOLLARS (SGD)</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<br><br>
<div> Date this: {% if datas.field_company_effect_date %} {{ datas.field_company_effect_date|date("d/m/Y") }} {% else %} {{ "now"|date("d/m/Y") }} {% endif %}</div>


