<html>
<style>
  .tl { height:250px; line-height:20px; padding-left: 20px; }
</style>
<body>
<div>Date: {{ "now"|date("d/m/Y") }}</div>
<br/>
<br/>

<span>The Board of Directors</span><br/>
<span>{{ app.company_name }} </span>
<br/>
<span>{{ app.addr_1 }}{{ app.addr_2 }}{{ app.postal_code }} </span>

<br/>
<br/>
<br/>
<span>Dear Sirs,</span>
<br/>
<br/>
<br/>
<b>CONSENT TO ACT AS AUDITORS</b>
<br/>
<br/>
<br/>
<span>In accordance with Section 10 of the Companies Act 1967, we hereby consent to act as the Company’s auditors until the conclusion of the Company’s next Annual General Meeting.</span>
<br><br>
<span>This consent is to remain valid until withdrawn by us in writing.</span>
<br><br><br><br>
<span>Yours faithfully,</span>
<br>
<br><br><br>

<b style="font-size: 11px">Yours faithfully</b><br/>
<b style="font-size: 11px">For and on behalf of LEE KIM AUDIT PAC</b><br/>
<img src="/static/signature/James_sign_220704_110555.png" style="height: 90px;">
<img src="/static/signature/Company-Stamp-Lee-Kim-Audit.png" style="height:80px;">
<hr style="width: 40%;">
<div></div>
<br/><br/>

<table style="font-size: 11px">
  <tbody>
  <tr class="less-spacer">
    <td width="15%">Name:</td>
    <td width="35%">Mr. KOH KOK TIONG (James)</td>
  </tr>
  <tr class="less-spacer">
    <td width="15%">Designation:</td>
    <td width="35%">Managing Director</td>
  </tr>
  </tbody>
</table>
</body>
</html>
