<html>
  <body>
    {% if datas.directors|length > 0 %}
      {% for directors in datas.directors %}
        <h2 style="width:100%;text-align:center;">REGISTER OF DIRECTORS / ALTERNATE DIRECTORS</h2>
        <div style="width:100%; height:10px;"></div>
        <table>
          <tr>
            <td style="text-align:left;font-size:11px; font-weight: bold;">Name of Company:&nbsp;&nbsp;&nbsp;&nbsp;{{ datas.company_name }} {{ datas.field_company_type }}</td>
            <td style="text-align:right;font-size:11px;">Page {{ loop.index }}</td>
          </tr>
        </table>
        <div style="width:100%; height:5px;"></div>
        <table cellpadding="4" border="3" width="100%">
          <thead>
          <tr style="text-align:center;font-size:11px; font-weight: bold;">
            <td class="tl" style="border: 1px solid #111" width="35%"><br/><br/>Full name and residential Address</td>
            <td class="tl" style="border: 1px solid #111" width="10%"><br/><br/>Identity / Passport no.</td>
            <td class="tl" style="border: 1px solid #111" width="15%"><br/><br/>Nationality</td>
            <td class="tl" style="border: 1px solid #111" width="10%"><br/>Date of appointment or change</td>
            <td class="tl" style="border: 1px solid #111" width="10%"><br/><br/>Date ceased as director</td>
            <td class="tl" style="border: 1px solid #111" width="20%">Particulars of other directorship of public companies or subsidiaries of public companies incorporated in Singapore</td>
          </tr>
          </thead>
          <tbody>
          {% for office in directors %}
            <tr style="font-size: 11px">
              <td class="tl" width="35%" style="border: 1px solid #111;">{{ office.field_full_name }}</td>
              <td class="tl" width="10%" style="text-align:center; border: 1px solid #111">{{ office.field_id_no }}</td>
              <td class="tl" width="15%" style="text-align:center; border: 1px solid #111">{{ office.field_nationality }}</td>
              <td class="tl" width="10%" style="text-align:center; border: 1px solid #111">
                {% if office.field_date_appointed_registrable %}
                  {{ office.field_date_appointed_registrable|date('d/m/Y') }}
                {% endif %}
              </td>
              <td class="tl" width="10%" style="text-align:center; border: 1px solid #111">
                {% if office.field_date_ceased_as_registrable %}
                  {{ office.field_date_ceased_as_registrable|date('d/m/Y') }}
                {% endif %}
              </td>
              <td class="tl" width="20%" style="border: 1px solid #111">{% if office.field_date_of_entry_update %}Change of director's particulars on {{ office.field_date_of_entry_update|date('d/m/Y') }}{% endif %}
              </td>
            </tr>
            <tr style="font-size: 11px">
              <td class="tl" style="border: 1px solid #111">{{ office.field_address_line_1 }}</td>
              <td class="tl" style="border: 1px solid #111"></td>
              <td class="tl" style="border: 1px solid #111"></td>
              <td class="tl" style="border: 1px solid #111"></td>
              <td class="tl" style="border: 1px solid #111"></td>
              <td class="tl" style="border: 1px solid #111"></td>
            </tr>
            <tr style="font-size: 11px">
              <td class="tl" style="border: 1px solid #111">{{ office.field_address_line_2 }} {% if office.field_postal_code %}({{ office.field_postal_code }}){% endif %}</td>
              <td class="tl" style="border: 1px solid #111"></td>
              <td class="tl" style="border: 1px solid #111"></td>
              <td class="tl" style="border: 1px solid #111"></td>
              <td class="tl" style="border: 1px solid #111"></td>
              <td class="tl" style="border: 1px solid #111"></td>
            </tr>
            <tr>
              <td class="tl" style="border: 1px solid #111"></td>
              <td class="tl" style="border: 1px solid #111"></td>
              <td class="tl" style="border: 1px solid #111"></td>
              <td class="tl" style="border: 1px solid #111"></td>
              <td class="tl" style="border: 1px solid #111"></td>
              <td class="tl" style="border: 1px solid #111"></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% if loop.last %}
        {% else %}
          <br pagebreak="true" />
        {% endif %}
      {% endfor %}
    {% endif %}
  </body>
</html>
