<table>
    <tr>
        <td width="70%">Certificate No. * {{officer.share_details_json[0].certificate_no }} *</td>
        <td width="30%">
            <table>
                <tr>
                    <td style="width: 100px">No. of Shares </td>
                    <td>: *{{ officer.share_details_json[0].shares_allotted|number_format(0,'',',') }}*</td>
                </tr>
                <tr>
                    <td style="width: 100px">Amount Paid</td>
                    {% if officer.share_details_json[0].share_amount_paid > 0 %}
                        <td>: <b>{{ officer.share_details_json[0].share_amount_paid|number_format(0,'',',') }} ({{ officer.share_details_json[0].currency }})</b></td>
                    {% else %}
                        <td>: <b>Nil</b></td>
                    {% endif %}
                </tr>
                <tr>
                    <td style="width: 100px">Amount Unpaid</td>
                    {% if officer.share_details_json[0].share_amount_unpaid >= 0 %}
                        <td>: <b>{{ officer.share_details_json[0].share_amount_unpaid|number_format(0,'',',') }} ({{ officer.share_details_json[0].currency }})</b></td>
                    {% else %}
                        <td>: <b>Nil</b></td>
                    {% endif %}
                </tr>
            </table>
        </td>
    </tr>
</table>


<style>
    .ca{text-align: center;}
</style>
<table >
    <tr><td class="ca" style="font-size: 30px"><b>{{ app.company_name|upper }} </b></td></tr>
    <tr><td class="ca" style="font-size: 11px"><br/><br/>Company Registration No. {{ app.uen }}<br/>
            (Incorporated in the Republic of Singapore under the Companies Act, Cap. 50)<br/>
        </td></tr>

</table>

<table >
    <tr><td width="10%"></td>
        <td width="15%" style="font-size: 15px;">Registered Address : </td>
        <td width="80%" style="font-size: 15px; text-align: left;">{{ app.addr_1 }} {{ app.addr_2 }} ({{ app.postcode }})<br></td>
    </tr>
</table>


<table>
    <tr>
        <td width="5%"></td>
        <td width="30%" rowspan="2" style="font-size: 20px; font-style: italic; font-weight:bold;">This is to certify that,</td>
        <td width="60%" style="font-size: 20px; font-style: italic; font-weight:bold;"><b>{{ officer.full_name }}</b></td>
    </tr>
    <tr>
        <td></td>
        <td>{{ officer.addr_1 }} <br/>{{ officer.addr_2 }} {{ officer.postcode }}<br></td>
    </tr>
</table>


<table>
    <tr>
        <td width="5%"></td>
        <td width="90%">is/are Registered Holder of &nbsp; <b>&nbsp;{{ officer.share_details_json[0].share_amount_in_words }}</b></td>
    </tr>
    <tr>
        <td width="5%"></td>
      {% if officer.share_details_json[0].share_amount_paid %}
        {% if officer.share_details_json[0].total_share_price == officer.share_details_json[0].share_amount_paid %}
          <td>Ordinary shares fully paid in above Company subject to the Constitution of the Company<br></td>
        {% else %}
          <td>Ordinary shares partially paid {{ officer.share_details_json[0].share_amount_paid|number_format(0,'',',') }} ({{ officer.share_details_json[0].currency }}) in above Company subject to the Constitution of the Company<br></td>
        {% endif %}
      {% else %}
        <td>Ordinary shares unpaid in above Company subject to the Constitution of the Company<br></td>
      {% endif %}
    </tr>
    <tr>
        <td width="10%"></td>
{#        <td width="50%">Issued this '.$ACS_SHAREHOLDER_REMARK.'</td>#}
        <td width="50%">Issued this {{ officer.share_details_json[0].date_of_allotment|date('d F Y') }}</td>
        <td width="35%">
          <br/><br/><br/><br/>
            <table >
                {% if app.officers_directors|length %}
                    <tr><td style="border-bottom:1px solid black">{{ app.officers_directors[0].full_name }}</td></tr>
                    <tr><td style="font-size: 10px;">Director<br><br></td></tr>
                {% endif %}
                {% if app.officers_secretaries|length %}
                    <tr><td style="border-bottom:1px solid black">{{ app.officers_secretaries[0].full_name }}</td></tr>
                    <tr><td style="font-size: 10px;">Secretary<br><br></td></tr>
                {% endif %}
                <tr><td style="font-size: 8px;">No transfer of any portion of the Shares comprised in this</td></tr>
                <tr><td style="font-size: 8px;">Certificate will be registered unless accompanied by this Certificate.</td></tr>
            </table>
        </td>
    </tr>

</table>
