<html>
<body>
<h1 style="width:100%;text-align:center;">{{ app.company_name }} </h1>

<div style="width:100%;text-align:center;font-size:14px;line-height: 120%;">
  (Company Registration Number: {{ app.uen }})
  <br/>(Incorporated the Republic of Singapore)
</div>

<div style="width:100%;text-align:center;font-size:14px;">
  {{ app.addr_1 }} {{ app.addr_2 }} {{ app.postal_code }}
</div>

<hr height="3"></hr>

<table border="0" width="655">
  <tr>
    <td colspan="3" height="20"></td>
  </tr>

  <tr>
    <td colspan="3" height="20"></td>
  </tr>
  <tr>
    <td width="32">&nbsp;</td>
    <td width="569" style="text-align:left;font-size:14px;line-height: 100%;"><p><b>DIRECTORS' RESOLUTIONS PASSED
          PURSUANT TO ARTICLE 80 (TO BE SIGNED BY MAJORITY OF THE DIRECTORS) OF THE COMPANY’S ARTICLES OF
          ASSOCIATION</b></p></td>
    <td width="32">&nbsp;</td>
  </tr>
  <tr>
    <td width="52">&nbsp;</td>
    <td width="550" style="text-align:justify;">
      <br/>
    </td>
  </tr>

  <tr>
    <td colspan="3" height="20"></td>
  </tr>
  <tr>
    <td width="32">&nbsp;</td>
    <td width="569" style="text-align:left;font-size:14px;line-height: 100%;"><p><b>RESIGNATIONS OF COMPANY
          SECRETARY</b></p></td>
    <td width="32">&nbsp;</td>
  </tr>
  <tr>
    <td width="52">&nbsp;</td>
    <td width="550" style="text-align:justify;">
      <br/>
    </td>
  </tr>

  <tr>
    <td width="52">&nbsp;</td>
    <td width="530" style="text-align: justify;">
      <br/>RESOLVED that the resignations of
      <b>____________________________</b>
      as Secretary of the

      Company in accordance with their letters of resignation be and is hereby accepted

      with regret.
      <br/>
    </td>
  </tr>


  <tr>
    <td colspan="3" height="20"></td>
  </tr>
  <tr>
    <td width="32">&nbsp;</td>
    <td width="569" style="text-align:left;font-size:14px;line-height: 100%;"><p><b>APPOINTMENT OF COMPANY SECRETARY</b>
      </p></td>
    <td width="32">&nbsp;</td>
  </tr>
  <tr>
    <td width="52">&nbsp;</td>
    <td width="550" style="text-align:justify;">
      <br/>
    </td>
  </tr>

  <tr>
    <td width="52">&nbsp;</td>
    <td width="530" style="text-align: justify;">
      <br/>RESOLVED that subject to
      {% for person in app.officers_secretaries %}
        {% if loop.index < loop.length %}
          <b>{{ person.full_name }}</b> and
        {% else %}
          <b>{{ person.full_name }}</b>
        {% endif %}
      {% endfor %}

      having signed the Consent To Act as Secretary, he be and is hereby appointed as

      Secretary of the Company.
      <br/>
    </td>
  </tr>


  <tr>
    <td colspan="3" height="20"></td>
  </tr>
  <tr>
    <td width="32">&nbsp;</td>
    <td width="569" style="text-align:left;font-size:14px;line-height: 100%;"><p><b>LODGEMENT OF NOTICES TO THE
          ACCOUNTING AND CORPORATE

          REGULATORY AUTHORITY</b></p></td>
    <td width="32">&nbsp;</td>
  </tr>
  <tr>
    <td width="52">&nbsp;</td>
    <td width="550" style="text-align:justify;">
      <br/>
    </td>
  </tr>

  <tr>
    <td width="52">&nbsp;</td>
    <td width="530" style="text-align: justify;">
      <br/>RESOLVED that <b>LEE KIM ALLIANCE PTE. LTD.</b> be and is hereby authorized to

      lodge for and on behalf of the Company the requisite notices on the above changes

      with the Accounting and Corporate Regulatory Authority accordingly.
      <br/>
    </td>
  </tr>

  <tr>
    <td width="52">&nbsp;</td>
    <td width="530" style="text-align:justify;">
      <br/>
    </td>
  </tr>

  <tr>
    <td width="52">&nbsp;</td>
    <td width="530" style="text-align:justify;">
      <br/>Dated:
      <br/><br/>
      <br/>
      <br/>
    </td>
  </tr>
</table>

<table border="0" cellpadding=0 cellspacing=0 width="90%" align="center">
  <tr>
    <td colspan="3" style="height:20px;"></td>
  </tr>
  {% for director in app.officers_directors %}
    {% if loop.index % 2 == 1 %}
      <tr>
      <td style="width:40%; text-align:left;font-size:14px;">
        <span style="color: white; font-size: 1px">_____________________________________________________________________
            ___________________________________________{{ director.signature }}</span>
        <hr>
        <b>{{ director.full_name }}<br/></b>
        DIRECTOR
      </td>
      <td width="140"></td>
    {% else %}
      <td style="width:40%; text-align:left;font-size:14px;">
        <span style="color: white; font-size: 1px">_____________________________________________________________________
            ___________________________________________{{ director.signature }}</span>
        <hr>
        <b>{{ director.full_name }}<br/></b>DIRECTOR
      </td>
      </tr>
    {% endif %}
    {% if loop.index % 2 == 1 and loop.index == loop.length %}
      <td>
        &nbsp;
      </td>
      </tr>
    {% endif %}
  {% endfor %}
</table>

</body>
</html>

